# buildout.cfg file for Plone 4 development work
# - for production installations please use http://plone.org/download
# Each part has more information about its recipe on PyPi
# http://pypi.python.org/pypi 
# ... just reach by the recipe name
[buildout]
parts =  
    instance
    wsgi.py
    translation
    test

eggs-directory = eggs

package-name = xmldirector.connector

extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg

extensions = 
    mr.developer

sources = sources

versions = versions

[wsgi.py]
recipe = plone.recipe.zope2instance
user = admin:admin
wsgi = on
control-script = wsgi.py
blob-storage = var/blobstorage
eggs =
    Plone
    xmldirector.connector

environment-vars =
    zope_i18n_compile_mo_files true


[versions]


[translation]
recipe = infrae.i18nextract
packages =
   xmldirector.connector
output = ${buildout:directory}/xmldirector/connector/locales/en/LC_MESSAGES
output-package = xmldirector.connector
domain = xmldirector.connector

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs =
    xmldirector.connector
    zope.testrunner

